@{
    ViewBag.Title = "About";
}

<div class="card shadow-lg" style="width:400px;margin:auto">
    <div class="card-header">
        <p class="text-center"><b>About <i class="far fa-laugh-wink"></i></b></p>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item bg-warning text-left"><i class="fas fa-laptop-code"></i> Website Application</li>
            <li class="list-group-item text-right bg-light">Technology - ASP.NET MVC <i class="fas fa-code"></i></li>
            <li class="list-group-item text-left bg-danger"><i class="far fa-file-code"></i> Middleware - C#</li>
            <li class="list-group-item text-right bg-success">Backend - MSSQL <i class="fas fa-database"></i></li>
        </ul>
    </div>
</div>