@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div class="card shadow-lg" style="width:500px;margin:auto">
        <div class="card-header">
            <p class="text-center"><b>Developer Contact <i class="fas fa-laptop-code"></i></b></p>
        </div>
        <div class="card-body text-center">
            <p><i class="fas fa-envelope"></i> Email : <strong>vicky.gupta@somaiya.edu</strong></p>
            <p><i class="fas fa-mobile-alt"></i> Number : <strong>+91 8879 835 947</strong></p>
        </div>
    </div>
</div>