@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1 class="text-center">Time Table Generator</h1>
    <br />
    <p class="text-right">Login and Get Started. <i class="far fa-smile-beam"></i></p>
</div>